/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
header {
    background-color: #fff;
    margin: 30px;
    text-align: center;
    position: relative;
    margin-left: 400px;
    margin-right: 400px;
    border: 6px solid black;
  }
  
  img {
    max-width: 200px;
  }
  
  main {
    margin: 75px 20px 40px 20px;
    padding-bottom: 15px;
    border: 4px solid black;
    text-align: center;
    background-color:lightgoldenrodyellow;
  }
  
  
  body {
    background-image: url("../images/retrooo.jpg");
  }
  
  .queOne {
    margin: 10px;
  }
  
  @media all and (max-width: 600px) {
   
  
    img {
      width: 200px;
    }
  
    body {
      background-image: url("../images/retrooo.jpg");
    };
  }
  